@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf");
  src: url("fonts/OpenSans-Regular.eot");
  src: url("fonts/OpenSans-Regular.woff");
  src: url("fonts/OpenSans-Regular.woff2");
}
.site__container{
  width: 1024px;
  margin: auto;
}

body{
  font-family: "OpenSans", sans-serif;
}

.header {
  display: flex;
  width: auto;
}
#logo{
  margin: auto 30px;
}
nav {
  margin-right: 13px;
  margin-left: auto;
  cursor: pointer;
}
.header nav li{
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 15px;
  margin-bottom: 2px;
}
.header nav li:hover, .alert{
  color: #ef5b4c;
}
.header nav li:active{
  background-color: #007bff;
}
.header nav li:first-child{
  margin-right: 14px;
}
.header nav li:nth-child(2){
  margin-right: 13px;
}
.header nav li:nth-child(3){
  margin-right: 10px;
}
h1{
  font-size: 50px;

}
.banner{
  text-align: left;
  background: url(../content/banner-photo.jpg) no-repeat #0e1a74;
  background-size: cover;
  height: 600px;
}
.text__wrapper{

  padding-top: 10px;
  margin-left: 30px;
  width: 550px;
}
.h1__wrap{
  margin-top: 98px;
  margin-bottom: 0;
}

.h1__wrap h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 52px;
  margin: 0;
  padding: 0;
  white-space: pre;
}
.h3__wrap{
  margin: 30px 0 30px 0;
}

.h3__wrap h3 {
  padding: 0px;
  line-height: 25px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  white-space: pre;
}


.red__button{
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  border-radius: 5%;
  text-shadow: 0px 0px 0px transparent;
  background: #ef5b4c;
  width: 210px;
  height: 40px;
  margin: 0px 30px;
  cursor: pointer;
}
.red__button a{
  color: white;
  width: 100%;
  font-size: 1.25em;
}

.sign{
  margin-top: 40px;
  color: #ef5b4c;
  font-weight: bold;
}
.about__me__wrapper{
  margin-top: 60px;
}

.about__me__wrapper h1, .red__button a{
  text-align: center;
  margin-bottom: 0;
}

.graphic__and__article{
  width: 100%;
  margin-top: 15px;
}
.graphic__and__article svg{
  width: 33%;
  padding-left: 55px;
}
.graphic__and__article svg, .graphic__and__article__text{
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

.graphic__and__article__text{
  width: 55%;
  text-align: justify;
  font-size: 17px;
  float: right;
  padding-top: 13px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.graphic__and__article__text h3{
  font-size: 25px;
}

.cls-1 {
  fill: #212529;
}

.cls-1, .cls-2, .cls-3 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #1b4a8a;
}

.cls-3 {
  fill: #fff;
}

.users{
  margin-top: 10px;
  background: #f9f9f3;
  height: auto;
  text-align: center;
}
.users h1{
  margin-bottom: 0px;
}
.users h4{
  margin-top: 7px;
}

.users__table{
  display: inline-block;
  padding-top: 0;
}

.user__info{
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  margin: 60px 65px 80px 65px;

}

.inline{
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user__info h2{
  margin: 0px;
}
.user__info p{
  line-height: 24px;
  margin: 0px;
}

.user__photo{
  border-radius: 50%;
  margin: 0 auto;
}
.hidden{
  display: none;
}
#showMoreBut{
  margin-top: 0px;
  margin-bottom: 160px;
}

.registration{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 50%;
}
.registration h1{
  font-weight: bold;
  margin-bottom: 0px;
}
#reg{
  margin-top: 35px;
}

.text__and__form__wrapper{
  width: 90%;
  margin: auto;
}
.attention, .registration h4{
  font-weight: normal;
  margin: auto;
  margin-top: 10px;
}
.attention{
  width: 95%;

}
.registration form{
  margin: 30px auto;

}
.registration input{
  width: 100%;
  height: 32px;
  margin: 10px auto;
  border-radius: 5px;
  border: solid 0.5px #949393;
  text-indent: 10px;
}
.registration input:focus{
  box-shadow: 0 0 5px #29B0D9;
}
.error{
  box-shadow: 0 0 5px #ef5b4c;
}
.registration input::placeholder{
  color: grey;
  width: 80%;
  font-size: 110%;
}

.descript{
  text-align: left;
  font-weight: bold;
}
.small__text{
  margin-top: 5px;
  text-align: left;
  font-size: 13px;
}
#radiotable{
  border: solid;
  width: 50%;
  vertical-align: middle;
}
#radiotable input{
  margin: 0 0;
  display: inline-block;
  width: auto;
  text-align: left;
  vertical-align: middle;
}
#radiotable input:checked {
  background-color: #2196F3;
}

#radiotable label{
  display: inline-block;
  vertical-align: middle;
}

.container {
  margin-top: 10px;
  text-align: left;
  display: block;
  position: relative;
  padding-left: 23px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100px;
  padding: .5rem 1rem;
  line-height: 1.5;
}


.checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 14px;
  width: 14px;
  background-color: white;
  border: solid grey 0.05px;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
  border: #2196F3;
  height: 16px;
  width: 16px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}
#first__cont{
  margin-top: 20px;
}

.file {
  position: relative;
}

#file{
  opacity: 0%;
}

.file-custom{
  font-size: 90%;
  font-weight: normal;
  color: #949393;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  user-select: none;
}

.file-custom:before {
  font-weight: normal;
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  background-color: #f9f9f3;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
  box-sizing: border-box;
}


.file-custom:after {
  content: "Upload your photo";
  box-sizing: border-box;
}
#sign__up{
  margin: 20px auto;
}


footer{
  margin-top: 10px;
  font-size: 14px;
  color: #949393;
  border-top: solid rgb(236, 236, 236) 0.1px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #ffff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  margin-top: 15px;
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ffff;
}

.modal-body {
  padding: 2px 16px;
  border-top: solid lightgrey 0.1px;
  border-bottom: solid lightgrey 0.1px;
  color: #212529;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #ffff;
}
.red__but__wrap{
  width: 80px;
  margin: 10px 10px 10px auto;
}

#closeModalWin{
  margin: 0;
  width: 100%;
  border-radius: 5px;
}
